th.key {
  width: 50px;
}

th.actions {
  width: 100px;
}

html {
  font-size: 14px;
}

@media (max-width: 768px) {
  .box-footer .actions .btn {
    display: block;
    margin-bottom: 15px;
  }

  .box-footer .actions .btn:last-of-type {
    margin-bottom: 0;
  }
}

