@import "variables";

@import "tables";

html {
    font-size: $html-font-size;
}

.box-footer {
  .actions {

    @media (max-width: 768px) {
      .btn {
        display: block;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
